html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    border: 1px solid white;
}
#points1,#points2  {
    /* background-color: antiquewhite; */
    height: 30px;
    width: auto;
    font-size: 30px;
    font-weight: bold;
    color:antiquewhite;
    align-self: flex-start;
}